{
  "parser": "babel-eslint",
  "extends": "nodejs-recommended",
  "rules": {
    "arrow-parens": 0,
    "class-methods-use-this": 0,
    "arrow-body-style": 0,
    "prefer-template": 0,
    "max-len": 0,
    "indent": ["error", 2],
    "consistent-return": 0,
    "no-underscore-dangle": 0,
    "no-param-reassign": 0,
    "no-console": 1,
    "array-callback-return": 0,
    "linebreak-style": 0,
    "lodash/prefer-lodash-method": 0,
    "lodash/no-single-chain": 0,
    "lodash/prefer-chain": 0,
    "no-restricted-syntax": 0,
    "import/prefer-default-export": 0,
    "import/extensions": 0
  },
  "settings": {
    "import/resolver": {
      "node": {
        "extensions": [
          ".js",
        ]
      }
    }
  }
}
